name: V2ray Heroku Docker Image

on: 
  push:
  schedule:
    - cron: "0 0 * * 5"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag v2heroku:$GITHUB_SHA
    
  run:

    needs: build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Prepare environment
      run: |
        sudo apt-get update -y
        sudo apt-get install unzip python3 python3-pip -y
        sudo pip3 install requests

    - name: Run the program
      run: |
        sudo export AppName=test && python3 ./worker/main.py